body {
    font-family: Arial;
    margin: 0;
    background: #f4f6f9;
}

header {
    background: #0d6efd;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 80px;
    background: linear-gradient(to right, #0d6efd, #00c6ff);
    color: white;
}

.btn {
    background: white;
    color: #0d6efd;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.produits {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
}

button {
    background: #0d6efd;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
}

.btn-danger {
    background: red;
    margin: 20px;
}